/*@font-face {
  font-family: 'Signika';
  src: url(Signika/static/Signika-Medium.tff);
}*/

html {
  background-color: #fbceb1;
}

body {
  text-align: center;
}

h1{
  color: blue;
}

img {
  border: inset 5px pink;
}

#introduction {
  color: purple;
  background-color: #C0E8D5;
  width: 50%;
  min-height: 200px;
  padding: 20px;
  margin: 20px;
  border: inset 5px pink;
  font-size: 20px;
}

#Tabs {
  color: purple;
  background-color: #C0E8D5;
  width: 50%;
  min-height: 200px;
  padding: 20px;
  margin: 20px;
  border: inset 5px pink;
  font-size: 20px;
}