/*@font-face {
  font-family: 'Signika';
  src: url(Signika/static/Signika-Medium.tff);
}*/

/*Sitewide formatting*/
  html {
    background-color: mediumslateblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  h2{
    font-size: 20px;
    padding: 15px;
    margin: 20px;
    color: whitesmoke;
    border: inset 5px orchid;
  }

  img {
    margin: 20px;
    border: inset 5px pink;
  }
/*End of sitewide formatting*/


/*Dropdown Formatting*/
  /*Dropdown button*/
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Style dropdown button */
  .dropbtn {
    right: 0;
    margin-top: -20px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    color: whitesmoke;
    background-color: blueviolet;
    border: outset 3px midnightblue;
  }

  /* Add an orchid background color to navbar links on hover */
  .dropdown:hover .dropbtn {
    background-color: orchid;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    right: 0;
    z-index: 1;
    width: 120px;
    display: none;
    position: absolute;
    background-color: blueviolet;
    box-shadow: 0px 8px 16px 0px midnightblue;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: whitesmoke; 
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: orchid;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    border: inset 3px blueviolet;
    margin-left: 20px;
    margin-bottom: 20px;
  }
/*End of Dropdown Formatting*/

/*Link Formatting*/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: none;
  color: midnightblue;
}

a:active {
  text-decoration: none;
}
/*End Link Formatting*/