h1{
  text-decoration: underline purple;
  color: blue;
}

#introduction {
  color: purple;
  background-color: #C0E8D5;
  width: 710px;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  border: dotted 5px pink;
  font-size: 20px;
}

#labs {
  color: purple;
  background-color: #C0E8D5;
  width: 710px;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  border: dotted 5px pink;
  font-size: 20px;
}

html {
  background-color: #fbceb1;
}
