#details {
  border: solid 3px purple;
  width: 990px;
  padding: 5px;
  color: blue;
  background-color: pink;
}

h2 {
  text-decoration: underline purple dotted;
}

.special {
  background-color: blue;
  color: purple;
}

html {
  background-color: #fbceb1;
}
